.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }

    // disabled:
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
        user-select: none;
    }
}


.icon-login + .title, .title + .icon-login {
    margin-left: 8px;
}

// type:
.rounded {
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03)
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }

}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }

}

.text {

    &:hover {
        text-decoration: underline;
    }
}


// size:
.me {
    min-width: 88px;
    padding: 4px 16px;
}

.la {
    min-width: 140px;
    padding: 14px 16px;
}


